$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorMain: rgb(252, 244, 244);
$colorThird: #99E2D0;
$colorWhite:#ffff;
$colorFooter: rgb(62, 63, 63);
$colorMenu: #f6f6f6ff;
$policePrinc: 'Roboto',
sans-serif;
$policeTittle: 'Shrikhand',
cursive;
$ordiResp: 1100px;
$tabResp: 600px;
$minResp: 340px;